@media screen and (min-width: 320px){
    .container { 
max-width: 320px;
padding:0 16px ;
margin: 0 auto;
} 
}

@media screen and (min-width: 768px){
    .container { 
max-width: 768px;
padding: 0 16px ;
margin: 0 auto;
} 

.portfolio-list{
    column-gap: 24px;
    row-gap: 72px ;

}

.portfolio-item{
    max-width: ((100%-24px)/2);
   
}

}